/* implement font family */

html {
  scroll-behavior: smooth;
  /* height: 100vh; */
}
body {
  font-family: "Poppins", sans-serif;
}

.icons-sosmed {
  color: #ff5c63;
  font-size: 30px;
}

/* hover icons sosmed with best interactive color*/
.icons-sosmed:hover {
  color: #fd4049;
}

.margin-about {
  margin: 7rem 0;
}

.sub-introduction {
  color: #94989b;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.sub-experience {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* section margin 5 rem only mobile */
@media (max-width: 991px) {
  .margin-home {
    margin: 5rem 0;
  }
}

.nav-text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/* hover nav text */
.nav-text:hover {
  color: #fff;
  font-weight: bold;
}

/* active nav text */
.nav-text.active {
  color: #fff;
  font-weight: bold;
}

.frame-top {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* hidden frame top in mobile view */
@media (max-width: 991px) {
  .frame-top {
    display: none;
  }
}

.name-text {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sub-name-text {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* get small for name & sub name in mobile view */
@media (max-width: 991px) {
  .name-text {
    font-size: 40px;
    text-align: center;
  }
  .sub-name-text {
    font-size: 20px;
  }
  .center-mobile {
    text-align: center;
  }
  .icons-mobile {
    justify-content: center;
  }
}

.center-name {
  /* Set the section height to 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fakhri {
  position: relative;
  bottom: 0;
  overflow: hidden;
}

/* absolute image fakhri in mobile view */
@media (max-width: 991px) {
  .img-fakhri {
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }
}

.rectangle-1 {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.frame-4 {
  position: absolute;
  bottom: 14%;
  right: 12%;
  overflow: hidden;
  z-index: -99;
}

/* display none rectangle */
@media (max-width: 991px) {
  .rectangle-1 {
    display: none;
    bottom: 5%;
  }
  .frame-4 {
    display: none;
  }
}

.sub-text-icons {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img-fakhri-index{
  width: 100%;
  height: 100%;
}

/* set img-fakhri to width 75% if mobile s/d tablet and center using position */
@media (max-width: 991px) {
  .img-fakhri-index {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
  }
}

